services:
  icecast-stream:
    image: deepcomp/icecast2
    ports:
      - "8000:8000"
    environment:
      ICECAST_SOURCE_PASSWORD: hackme
      ICECAST_ADMIN_PASSWORD: admin
      ICECAST_PASSWORD: hackme

  audio-segmenter:
    build: ./segmenter
    depends_on:
      - icecast
    volumes:
      - audio:/audio
    restart: always

  source-stream:
    build: ./stream
    depends_on:
      - icecast
    devices:
      - /dev/snd:/dev/snd

  music-recogniser:
    build: ./recogniser
    depends_on:
      - segmenter
    volumes:
      - audio:/audio
    environment:
      LASTFM_API_KEY: LASTFM_API_KEY
      LASTFM_API_SECRET: LASTFM_API_SECRET
      LASTFM_SESSION_KEY: LASTFM_SESSION_KEY
    restart: always

  audio-segment-preview:
    image: python:3.13-slim
    working_dir: /audio
    volumes:
      - audio:/audio:ro
    command: >
      sh -c "python -m http.server 8080 --bind 0.0.0.0"
    ports:
      - "8080:8080"
    restart: always

volumes:
  audio:
